body {
	font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
    background-color: #016cc7;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.content-ct {
	text-align: center;
}

/* ------------------
	Navigation 
------------------ */
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
}

.hero-header{
    width: 10%;
}
/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}